.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.App-header {
  height: 10vh;
  width: 96vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(15, 15, 15);
}

.mainTitle {
  background: rgb(15, 15, 15);
  color: white;
  font-size: calc(15px + 3vmin);
  font-family: 'Playfair Display', serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
